
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoregular.woff2") format("woff2"),
	url("../fonts/latoregular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latobold.woff2") format("woff2"),
	url("../fonts/latobold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/latoblack.woff2") format("woff2"),
	url("../fonts/latoblack.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

[class*="__container"]{
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
	color: #424551;
	max-width: 810px;
	margin: 0 auto;
}

.header__container,
.footer__container {
	padding: 20px 0px 50px 0px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

h1 {
	font-family: "Lato", sans-serif;
	font-size: 46px;
	font-weight: 900;
	line-height: 59.8px;
	color: #1E212C;
	margin-bottom: 92px;
}

.image {
	max-width: 100%;
}

.text.block-1,
.text.block-3 {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	color: #1E212C;
}

.text.block-1 {
	margin-top: 60px;
	margin-bottom: 24px;
}

.text.block-2 {
	margin-bottom: 48px;
}

.text.par-1 {
	padding: 0px 0px 10px 0px;
}

.text.block-3 {
	margin-bottom: 48px;
	padding: 0px 0px 0px 58px;
}

.text.block-4 {
	margin-bottom: 24px;
}

.text.block-5 {
	
	max-width: 568px;
	margin-bottom: 24px;
	margin-left: 32px;
}

.text.block-6 {
	margin-bottom: 60px;
}

.practice__background-1 {
	color: black;
	background-color: darkolivegreen;
}

.practice__background-2 {
	color: black;
	max-height: 700px;
	max-width: 250px;
	background-image: linear-gradient(45deg, rgba(205,216,206,1) 0%,rgba(211,63,132,1) 57%,rgba(87,60,209,1) 100%);
	background-size: 50%;
}

.practice__background-3 {
	color: black;
	background-image: url("../img/tree.jpg");
	height: 400px;
	background-repeat: repeat;
	background-position: right bottom;
	background-attachment: scroll;
}

.practice__background-4 {
	color: black;
	background-color: aquamarine;
	background-image: url("../img/tree.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.practice__background-6 {
	color: black;
	background-image: url("../img/tree.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 300px;
	padding: 100px 50px 50px 50px;
	text-align: justify;
}

.practice__background-5 {
	background: rgb(123, 159, 146) url("../img/tree.jpg") 0 0 / contain no-repeat;
	color: black;
	}

.practice__background-7 {
	background: url("../img/tree.jpg") 0 0 / 150px no-repeat, url("../img/ducks.jpg") no-repeat right bottom / 700px, rgb(79, 77, 157) ;
	color: black;
	height: 300px;
	opacity: 90%;
}





